{% extends "base.html" %}
{% block title %}
    Austeritas login
{% endblock %}
{% block content %}
<h1 class="title is-1">
    {{_("Log in")}}
</h1>
<p>
    {{_("Please enter the administration credentials below to log in to Austeritas.")}}
</p>

<form action="{{url_for('auth.run_login')}}" method="post">
    <input class="input my-1" type="text" placeholder="name" name="name">
    <input class="input my-1" type="password" placeholder="password" name="password">
    <input class="button my-1" value="Log in" type="submit">
</form>
<hr>
<h1 class="title">
    {{_("... or generate a new user")}}
</h1>
<p>
    {{_("Enter the wished credentials of the new user.")}}
</p>

<form action="{{url_for('auth.new_user')}}" method="post">
    <input class="input my-1" type="text" placeholder="name" name="name">
    <input class="input my-1" type="password" placeholder="password" name="password">
    <input class="button my-1" value="{{_('Generate JSON for new user')}}" type="submit">
</form>
{% endblock content %}