{% extends "base.html" %}
{% block title %}
    Austeritas - ban
{% endblock %}

{% block content %}
<h1 class="title is-1">
    Ban a player
</h1><hr>
<div class="columns">
    <div class="column">
        <h2 class="subtitle">By specific gamertag</h2>
        <form action="{{url_for('dashboard.run_ban')}}" method="post">
            <input class="input my-1" type="text" placeholder="gamertag" name="player" id="gamertag">
            {% include "dashboard/components/ban_duration_picker.html" %}
            <label class="checkbox my-2">
                <input type="checkbox" name="remember">
                Add player name to list of known people
            </label><br>
            <input class="button is-danger my-1 is-fullwidth" value="Ban" type="submit">
        </form>
    </div>

    {% include "/dashboard/components/list.html" %}
</div>
<hr>
<h2 class="subtitle">
    Banned players
</h2>
<p>
    Below, all players having a non-permanent ban are listed.
</p>
<table>
    <thead>
        <tr>
            <th>
                Player
            </th>
            <th>
                ban expires on
            </th>
            <th>
                unban?
            </th>
        </tr>
    </thead>
    {% for player, expiration in banned_players.items() %}
        <tr>
            <td>
                {{player}}
            </td>
            <td>
                {{expiration}}
            </td>
            <td>
                <form action="{{url_for('dashboard.run_unban')}}" method="post">
                    <input type="hidden" name="player" value="{{player}}">
                    <button class="button is-success">
                        Unban
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}